/* this will be automatically added to your html folder */
body {
	font-family: Georgia, Times;
	background-color: #ffffff;
	padding: 10px;
	padding-left: 100px;
	max-width: 1600px;
	padding-top: 0px;
}

h1 {
	font-family: Verdana, Helvetica, Ubuntu, sans-serif;
}

.graph {
	background: #FFF;
	width: 720px;
	padding-left: 10px;
	margin: 0px;
}

h2 {
}

.in {
	font-family: Lucida Console, Courier, fixed;
	font-size: 10px;
}

.inpeak {
	font-family: Lucida Console, Courier, fixed;
	font-size: 10px;
}

.out {
	font-family: Lucida Console, Courier, fixed;
	font-size: 10px;
}

.outpeak{
	font-family: Lucida Console, Courier, fixed;
	font-size: 10px;
}

.git {
	font-family: Lucida Console, Courier, fixed;
	font-size: 10px;
	color: #006600;
	margin-left: 10px;
}

b a {
	font-family: Lucida Console, Courier, fixed;
	text-decoration:none;
}